<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
  <div class="col-md-12">
      <h1>Federación Mexicana de Futbol - Test WebApp</h1>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/clientes">Clientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/ordenes">Ordenes de pago</a>
          </li>
      </ul>
    </div>
  </nav>
<!-- 
<app-clientes></app-clientes> -->
<router-outlet></router-outlet>
