<div class="row">
    <div class="col-md-12">
        <h2>Clientes</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Buscar por:</label>
            <input [(ngModel)]="buscarPor" class="form-control" /> 
        </div>
    </div>
    <div class="col-md-2" style="padding-top: 30px;">
        <button class="btn btn-primary" (click)="getDataBy()">Buscar</button>
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nombre</td>
                <td>Razón social</td>
                <td>R.F.C.</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.clienteSAP}}</td>
                <td>{{cliente.nombreCompleto}}</td>
                <td>{{cliente.razonSocial}}</td>
                <td>{{cliente.RFC}}</td>
            </tr>
        </tbody>
    </table>
</div>
